* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: rgba(87, 0, 66, 1);
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-size: 1.4em; 
  }
  
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  
  h2 {
    font-weight: 700;
    font-size: 2.2em;
    border-bottom: 1px solid;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 1.8em;
  }
  
  header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(183, 146, 41, 1);
    color: rgba(87, 0, 66, 1);
    -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0,0.6);
      -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, .6);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, .6);
    
  }
  
  nav ul li { 
    display: inline;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    float: right;
  }
  
  a{
   
    text-decoration: none;
    color: rgba(87, 0, 66, 1);
    display: block;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
  }
  
  a:hover{
    background-color: rgba(87, 0, 66, 1);
    color: #FFFFFF;
  }
  
  .container_nav {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  section {
    color: #FFFFFF;
    height: 80vh;
    padding-top: 20vh;
    text-align: center;
    border: none;
    }
  
  
  
  #perfo ul{
      margin: 5%;
      display: flex;
      justify-content: space-between;
      color: rgba(183, 146, 41, 1);
      font-size: 1.2em;
      
  }
  
  #perfo li{
     list-style: none;
     width: 30%;
  }
  
  
  .datacrobat{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  
  #about a{
    display: inline-block;  
  }
  
  h4 {
    font-size: 2.2em;
    line-height: 100%;
    color: rgba(183, 146, 41, 1);  
  }
  
  h4 a{
    display: block;
    font-size: 1.8em;
    color: #FFFFFF;
     -webkit-transform: 2s;
    transition: font-size 0.8s, transform 0.8s;
  }
  
  h4 a:hover{
    font-size: 2.8em;
    transform: rotate(360deg);
    transition-duration: 1.2s;
    
    
  }
  
  h4 a:after{
    font-size: 2.8em;
    transform: rotate(-360deg);
    transition-duration: 1.2s;
  }
  
  h5 {
    font-size: 2.3em;
    line-height: 1.6em;
    color: rgba(183, 146, 41, 1);
  }
  
  h5 a{
    font-size: 0.8em;
    display: block;
    line-height: 100%;
    color: rgba(183, 146, 41, 1);
     -webkit-transform: 2s;
    transition: font-size 0.8s, transform 0.8s;
  }
  
  .blink_me {
      animation-name: blinker;
      animation-duration: 1.2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }
  
  
  @keyframes blinker {  
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
  }
  
  h5 a:hover{
    font-size: 1.2em;
    transform: rotate(-360deg);
    transition-duration: 0.8s;
    color: rgba(183, 146, 41, 1);   
  }
  
  h5 a:after{
    font-size: 1.2em;
    transform: rotate(-360deg);
    transition-duration: 0.8s;
    color: rgba(183, 146, 41, 1);
  }
  
  .table-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  table {
    border-collapse: collapse;
    border: 4px solid rgba(53, 3, 41, 1);
  }
  
  td, th {
      width: 20%;
      padding: 6px;
      background-color: rgba(53, 3, 41, 1);
  }
  
  td {
      background-color: rgba(53, 3, 41, 0.2);
      border: 4px solid rgba(53, 3, 41, 1);
      color: rgba(183, 146, 41, 1);
      font-weight: 700;
      font-size: 1.2em;    
  }
  
  .form-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.1em;
  }
  
  
  input, textarea{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    border-style: none;
  }
  
  textarea{
    height: 120px;
  }
  
  .button{
    background-color: rgba(183, 146, 41, 1);
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 1.1em;
  }
  
  .button:hover {
    box-shadow: 4px 4px 12px #000000;
  }
  
  
  
  
  
  footer{
    color: rgba(87, 0, 66, 1);
    font-size: 1em;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    background-color: rgba(183, 146, 41, 1);
    font-weight: 700;
  }
  footer a{
    display: inline-block;
    background-color: rgba(87, 0, 66, 0.2);
    color: #FFFFFF;
    padding: 6px;
    margin: 2px;
  }
  
  @media only screen and (max-width: 1024px) {
    
    .container_nav {
    width: 100%;
    min-width: 300px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    
    
  }
  
  
  
  @media only screen and (max-width: 600px) {
    
    nav { 
    display: inline;
    float: none;
  }
    
    
    header{
      height: 115px;
    }
    
    section{
      padding-top: 125px;
      height: auto;
    }
    
   
    
    /* je me suis permis de ne pas respecter totalement la consigne de l'alignement des blocs pour rendre un peu plus responsive ;) */
  
    #perfo ul{
      margin: 8%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    #perfo li{  
     width: 100%;
    }
    
    .table-container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 250px;
    height: auto;
    }
    .form-container{
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    
    input, textarea{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
   
    .datacrobat{
    padding: 15px;
    height: auto;
   
    }
    
  
    
  }